<h1>Users</h1>

<ul><% @users.each do |user| %></ul>
  <li><a href='/users/<%= user.id %>'><%= user.name %></a> | <%= link_to '(delete this user)', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>